= form_for @vote do |f|
  - if @vote.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vote.errors.count, "error")} prohibited this vote from being saved:"
      %ul
        - @vote.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :grand_parent_id
    = f.number_field :grand_parent_id
  .field
    = f.label :parent_id
    = f.number_field :parent_id
  .field
    = f.label :prabowo_count
    = f.number_field :prabowo_count
  .field
    = f.label :jokowi_count
    = f.number_field :jokowi_count
  .actions
    = f.submit 'Save'
