%h1 Listing votes

%table
  %tr
    %th Grand parent
    %th Parent
    %th Prabowo count
    %th Jokowi count
    %th
    %th
    %th

  - @votes.each do |vote|
    %tr
      %td= vote.grand_parent_id
      %td= vote.parent_id
      %td= vote.prabowo_count
      %td= vote.jokowi_count
      %td= link_to 'Detail', vote.detail_url

%br

= link_to 'New Vote', new_vote_path
