%p#notice= notice

%p
  %b Grand parent:
  = @vote.grand_parent_id
%p
  %b Parent:
  = @vote.parent_id
%p
  %b Prabowo count:
  = @vote.prabowo_count
%p
  %b Jokowi count:
  = @vote.jokowi_count

= link_to 'Edit', edit_vote_path(@vote)
\|
= link_to 'Back', votes_path
