%td.right-aligned
  = number_with_delimiter(location.sum_prabowo_count, delimiter: ",")
%td.right-aligned{"style" => yellow_background_for_max(location.sum_prabowo_count, location.sum_jokowi_count)}
  = (location.sum_prabowo_count * 100 / ((location.sum_prabowo_count + location.sum_jokowi_count) * 1.0)).round(2)
  \%
%td.right-aligned
  = number_with_delimiter(location.sum_jokowi_count, delimiter: ",")
%td.right-aligned{"style" => yellow_background_for_max(location.sum_jokowi_count, location.sum_prabowo_count)}
  = (location.sum_jokowi_count * 100 / ((location.sum_prabowo_count + location.sum_jokowi_count) * 1.0)).round(2)
  \%
%td
  - if location.max_last_fetched_at
    = (location.max_last_fetched_at.in_time_zone("Jakarta").strftime("%d %b, %H:%M:%S"))
  - else
    Pending..
%td
  = location.fetched_count
  \/
  = location.total_count
%td
  = "(#{(location.fetched_count * 100/ (location.total_count * 1.0)).round(2)} %)"