/ Go to www.addthis.com/dashboard to customize your tools
%script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53bbbc685826fb13", type: "text/javascript"}
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=668242776602769&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

= link_to "Nasional", locations_index_path
>
- if @view_mode == :province
  = @province_name
- if @view_mode == :kabupaten
  = link_to @province_name, locations_index_path(:province => params[:province])
  >
  = @kabupaten_nam
%br
%p
  DA1 adalah hasil rekapitulasi suara per kecamatan yang merupakan hasil yang telah diplenokan pada tingkatannya.
  DA1 berisi rekapitulasi beberapa formulir C1 pada tingkat kecamatan
%p
  DB1 adalah hasil rekapitulasi suara per kabupaten yang merupakan hasil yang telah diplenokan pada tingkatannya.
  DB1 berisi rekapitulasi beberapa formulir DA1 pada tingkat kabupaten
%p
  Data ini diambil dari Website KPU berikut:
  =link_to "http://pilpres2014.kpu.go.id/da1.php", "http://pilpres2014.kpu.go.id/da1.php"
  \. Data diupdate secara otomatis oleh program setiap 1 jam
  \. Untuk transparansi, source code program ini bisa didownload di
  =link_to "https://github.com/fikriauliya/rekapda1", "https://github.com/fikriauliya/rekapda1"
  \. Tidak ada manipulasi data, silakan dicek codenya atau dicross check langsung dengan data di website KPU
  %br
%p
  %b
    [Update] Kolom C1 adalah hasil input C1 dari
    =link_to "http://kawalpemilu.org", "http://kawalpemilu.org"
  \. KawalPemilu adalah website crowdsourcing di mana komunitas menginput file scan C1 (step sebelum DA1) secara keroyokan.
  Sementara formulir DA1 adalah rekapitulasi input C1 yang dilakukan oleh KPU, di mana KPU bisa jadi telah mengkoreksi sebagian kesalahan pada C1.
  Jika ada perbedaan dalam keduanya, bisa dicek data hingga level kecamatan, kemudian dibandingkan untuk saling mengkoreksi.

.addthis_sharing_toolbox

%hr
%div{"style" => "width:1100px; float:left"}
  -if @view_mode == :national
    %table#rekap{:cellspacing => 10}
      %tr
        %th
        %th
        %th{'colspan' => 3, 'style' => 'background: darkgrey'} Prabowo
        %th{'colspan' => 3, 'style' => 'background: darkgrey'} Jokowi
      %tr
        %th No
        %th Provinsi
        %th DB1
        %th DA1
        %th C1
        %th DB1
        %th DA1
        %th C1
        %th Updated
        %th DB1%
        %th DA1%

      - @locations.each_with_index do |location, index|
        %tr
          %td= index + 1
          %td
            = link_to location.province.name, locations_index_path(:province => location.province.id)
          = render :partial => 'locations/row_detail', locals: {location: location, db1: @db1s[index]}
      %tr
        = render :partial => 'locations/table_total'
  -elsif @view_mode == :province
    %table#rekap{:cellspacing => 10}
      %tr
        %th No
        %th Kabupaten
        %th DB1
        %th DA1
        %th C1
        %th DB1
        %th DA1
        %th C1
        %th Updated
        %th DB1%
        %th DA1%

      - @locations.each_with_index do |location, index|
        %tr
          %td= index + 1
          %td= link_to location.kabupaten.name, locations_index_path(:province => params[:province], :kabupaten => location.kabupaten.id)
          = render :partial => 'locations/row_detail', locals: {location: location, db1: @db1s[index]}
      %tr
        = render :partial => 'locations/table_total'
  -elsif @view_mode == :kabupaten
    %table#rekap{:cellspacing => 10}
      %tr
        %th No
        %th Kecamatan
        %th DB1
        %th DA1
        %th C1
        %th DB1
        %th DA1
        %th C1
        %th Updated
        %th DB1%
        %th DA1%

      - @locations.each_with_index do |location, index|
        %tr
          %td= index + 1
          %td= link_to location.kecamatan.name, location.detail_url
          = render :partial => 'locations/row_detail', locals: {location: location, db1: @db1s[index]}
      %tr
        = render :partial => 'locations/table_total'
%div{"style" => "float:left"}
  %h4 Supported by
  = link_to "https://kaunishijab.com/" do
    = image_tag "kaunis.jpg"
  .fb-comments{"data-colorscheme" => "light", "data-href" => "http://rekapda1.herokuapp.com", "data-numposts" => "5"}

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52889429-1', 'auto');
  ga('send', 'pageview');